* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

nav {
  background-color: #3ea1d9;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  margin-right: auto;
  padding: 30px 0px;
  border-right: 1px solid #d0d0d0;
  overflow-x: hidden;
}

button {
  margin-bottom: 10px;
  display: block;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

nav ul li {
  cursor: pointer;
  display: flex;
  align-self: center;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: red;
}

.status {
  font-weight: bold;
  font-size: 1.5em;
}

.card-container a:hover {
  text-decoration: none;
  color: orange;
  cursor: pointer;
}

.card-container {
  max-width: 100%;
  margin-top: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.card {
  width: 60%;
  height: 150px;
  text-align: center;
  margin-bottom: 40px;
  /* background: #c9deff; */
  color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px 10px;
  box-shadow: 5px 5px rgb(206, 202, 202);
}
/* Flex Box */

@media only screen and (min-width: 1000px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 40px 40px;
  }

  .card {
    width: 25%;
    height: 250px;
    text-align: center;
    margin-bottom: 40px;
    /* background: #c9deff; */
    color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px 10px;
    box-shadow: 5px 5px rgb(206, 202, 202);
  }
}

@media only screen and (max-width: 875px) {
  .cards {
    padding: 30px 30px;
  }
}

@media only screen and (min-width: 1600px) {
  .card-container {
    margin-top: 100px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .card {
    width: 25%;
    height: 250px;
    text-align: center;
    margin-bottom: 40px;
    /* background: #c9deff; */
    color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 10px 10px;
    box-shadow: 5px 5px rgb(206, 202, 202);
  }
}

@media only screen and (max-width: 375px) {
  .card-container {
    margin-left: 50px;
  }
  nav {
    width: 60px;
  }
}

@media only screen and (max-width: 450px) {
  nav {
    width: 60px;
  }
}

@media only screen and (min-width: 760px) and (max-width: 834px) {
  .card-container {
    margin-top: 100px;
  }
  nav {
    width: 60px;
  }
}
