* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.wrap {
  margin-left: 150px;
  margin-top: 20px;
}
/* Search */
.search {
  width: 70%;
  position: relative;
  display: flex;
}

.searchID {
  width: 80%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchID:focus {
  color: #00b4cc;
}

.searchButton {
  width: 40px;
  height: 42px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0px 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.viewSOH {
  margin-left: 100px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  justify-self: center;
}

.btn-sm {
  width: 100%;
  background-color: salmon;
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  padding: 10px 10px;
}

/* Table */
.deliver-table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 20px;
  height: 250px;
  overflow: auto;
}

.deliver-table th,
.deliver-table td {
  border: 1px solid #ddd;
  padding: 2px 2px;
}

.deliver-table tr:nth-child(even) {
  background-color: #edebeb;
}

.deliver-table tr:hover {
  background-color: #ddd;
}

.deliver-table th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  background-color: #58c6ea;
  color: white;
}

/* Wrap Table */
.wrap-table {
  width: 70%;
  padding: 0;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#piechart {
  width: 60%;
  margin: 0 auto;
}
/* Order Card */
.card1 {
  width: 40%;
  height: 200px;
  border: 1px solid #e5e5e5;
  border-radius: 10px 10px;
  box-shadow: 2.5px 3px rgb(206, 202, 202);
  padding: 5px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  margin-left: 185px;
}
h4 {
  text-align: left;
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}

#button {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px 10px;
  color: white;
  background-color: #ed493e;
}
#button:hover {
  background-color: salmon;
}

#button-none {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px 10px;
  color: white;
  background-color: #249e45;
}

#button-none:hover {
  background-color: #38c75e;
}

@media (min-width: 768px) {
  .wrap-table {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
  }
  .card1 {
    max-width: 60%;
    height: 60%;
  }
  #piechart {
    flex: 40%;
  }
}
