* {
  box-sizing: border-box;
}
body {
  margin: 0 0 0 0;
}

.wrap {
  margin-left: 100px;
  margin-top: 20px;
}
/* Search */
.search {
  width: 70%;
  margin-top: -20px;
  position: relative;
  display: flex;
}

.searchID {
  height: 42px;
  width: 60%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
  margin-left: 80px;
}

.searchID:focus {
  color: #00b4cc;
}

.searchButton {
  width: 40px;
  height: 42px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0px 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/* Table */
.deliver-table {
  width: 85%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 80px;
  height: 200px;
  overflow: auto;
  padding: 10px 10px 10px 30px;
}

.deliver-table th,
.deliver-table td {
  border: 1px solid #ddd;
  padding: 2px 2px;
}

.deliver-table tr:nth-child(even) {
  background-color: #edebeb;
}

.deliver-table tr:hover {
  background-color: #ddd;
}

.deliver-table th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  background-color: #58c6ea;
  color: white;
}

/* Cards */

.cards-container {
  margin-top: 80px;
  padding: 10px 80px 20px 10px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

#option {
  padding: 10px 10px;
  font-size: 1.5em;
  margin: 0 auto;
}

.choosing-btn {
  width: 100% !important;
  padding: 10px 10px !important;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  /* margin-left: 100px; */
  background-color: #58c6ea;
  border: none;
  box-shadow: 2px 2px #aeb1b5;
}

.choosing-btn:hover {
  background-color: #199eca;
}
