h1
{
    margin-left: 80px;
}
.block {
    max-width: 670px;
    min-height: 800px;
    padding: 20px 0;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    border: solid 1px #ccc;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.31);
    background: #ebebeb;
  }
.spacer
{
    width: 100px;
}
.Stock
{
    margin-top: 50px;
    margin-left: 30px;
    height: 300px;
    width: 600px;
}
.Temp
{
    margin-top: 50px;
    margin-left: 30px;
    height: 350px;
    width: 600px;
}
.WarehouseStock
{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 600px;
}

