.Maps
{
    display: block;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
    z-index: 1;
}
.bbutton
{
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    border-radius: 5px;
}
.Temp {
    margin-top: 50px;
    margin-left: 30px;
    height: 500px;
    width: 1000px;
}
.ETA {
    margin-top: 50px;
    margin-left: auto;
    height: 500px;
    width: 100px;
}