* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.detailsButton {
  vertical-align: middle;
  width: 60px;
  height: 40px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: top;
  color: #fff;
  border-radius: 0px 5px 5px 0;
  cursor: pointer;
  font-size: 14px;
}
